spring:
  application:
    name: commerce

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:h2:mem:sample;MODE=MySQL;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1

  h2:
    console:
      enabled: true

jwt:
  issuer: https://github.com/jhg507677
  admin_secret: secretAdmin123secretAdmin123secretAdmin123secretAdmin12
  user_secret: secretUser123secretUser123secretUser123secretUser12
  access_expire_time: 18000
  refresh_expire_time: 1800000